---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,google-build-*,google-default-arguments,google-explicit-constructor,-modernize-use-auto,-hicpp-braces-around-statements,-readability-braces-around-statements,-readability-else-after-return,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay,-warnings-as-errors'
WarningsAsErrors: '*'
HeaderFilterRegex: '*'
FormatStyle:     none

